{% extends 'layout.html.twig' %}


{% block title %}Mon Profil{% endblock %}

{% block body %}

    <div>

        {% if user.picture != null %}
            <img src="{{ asset('assets/profilepic/' ~ user.picture.name) }}" class="rounded mx-auto d-block" alt="profile picture">
        {% else %}
            <img src="{{ asset('assets/img/missingrofilepic.png') }}" class="rounded mx-auto d-block" alt="profile picture">
        {% endif %}

        <h1>{{user.pseudo}}</h1>

        <p>Prénom : {{ user.name | capitalize }}</p>
        <p>Nom : {{ user.surname | capitalize }}</p>
        <p>Email : {{ user.mail }}</p>
        <p>Site de ratachement : {{ user.site.name }}</p>

        {% if app.user.id == user.id %}

            <a href="{{ path('edit_my_profile') }}" class="btn btn-secondary" role="button">
                Modifier mon profil
            </a>

        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            {% include 'admin/extra_infos_profile_member.html.twig' %}
        {% endif %}


        <a href="{{ path('display_events')}}" class="btn btn-secondary" role="button">
            Retour
        </a>

    </div>

{% endblock %}
