{% extends 'layout.html.twig' %}

{% block name %}Détail de la sortie {% endblock %}

{% block body %}

    <h1>Détail de la sortie</h1>
    <div class="row">
    <div class="col-4 mx-auto"><br>
        <p>Nom de la sortie : {{ eventDetail.name }}</p>
        <p>Organisateur : <a href="url">{{ eventDetail.organizer.name }}</a></p>
        <p>Date et heure de la sortie : {{ eventDetail.startingDateTime|date("F jS \\a\\t g:ia") }}</p>
        <p>Date limite d'inscription : {{ eventDetail.inscriptionDeadLine|date("F jS \\a\\t g:ia") }}</p>
        <p>Nombre de places : {{ eventDetail.nbMaxRegistration }}</p>
        <p>Durée : {{ eventDetail.duration }} heures</p>
        <p>Description et infos : {{ eventDetail.infos }}</p>
    </div>

    <div class="col-4 mx-auto"><br>
        <p>Ville organisatrice : {{ eventDetail.site.name }}</p>
        <p>Lieu : {{ eventDetail.location.city.name }}</p>
        <p>Rue : {{ eventDetail.location.street }}</p>
        <p>Code postal : {{ eventDetail.location.city.zipCode }}</p>
        <p>Latitude : {{ eventDetail.location.latitude }}</p>
        <p>Longitude : {{ eventDetail.location.longitude }}</p>
    </div>
    </div>


    <div id="scrollbar">
        <ul>
        {% for registeredMember in eventDetail.getRegisteredMembers %}
            <li>{{ registeredMember.name }}</li>
            {% else %}
                Aucun participant à cette sortie
        {% endfor %}
        </ul>
    </div>


    <a href="{{ path('display_events') }}" class="btn btn-secondary" role="button">
        Retour
    </a>

    {% if eventDetail.organizer.id is same as(app.user.id) and isOpened %}
        <a href="{{ path('cancel_one_event', {'id': eventDetail.id}) }}" class="btn btn-secondary" role="button">
            Annuler la sortie
        </a>
    {% endif %}


{% endblock %}