{% extends 'layout.html.twig' %}

{% block name %}Détail de la sortie {% endblock %}

{% block body %}

    <h1>Détail de la sortie</h1>
    <div class="row">
    <div class="col-4 mx-auto"><br>
        <p>Nom de la sortie : {{ eventDetail.name }}</p>
        <p>Date et heure de la sortie : {{ eventDetail.startingDateTime|date('d-m-Y') }}</p>
        <p>Date limite d'inscription : {{ eventDetail.inscriptionDeadLine|date('d-m-Y') }}</p>
        <p>Nombre de places : {{ eventDetail.nbMaxRegistration }}</p>
        <p>Durée : {{ eventDetail.duration }} heures</p>
        <p>Description et infos : {{ eventDetail.infos }}</p>
    </div>

    <div class="col-4 mx-auto"><br>
        <p>Ville organisatrice : {{ eventDetail.site.name }}</p>
        <p>Lieu : {{ eventDetail.location.city.name }}</p>
        <p>Rue : {{ eventDetail.location.street }}</p>
        <p>Code postal : {{ eventDetail.location.city.zipCode }}</p>
        <p>Latitude : {{ eventDetail.location.latitude }}</p>
        <p>Longitude : {{ eventDetail.location.longitude }}</p>
    </div>
    </div>

    <a href="{{ path('display_events') }}" class="btn btn-secondary" role="button">
        Retour
    </a>


{% endblock %}