{% extends 'layout.html.twig' %}

{% block name %}Création d'événement {% endblock %}

{% block body %}

    <!--Séléction du site-->
    <form class="formperso">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            {% for site in sites %}

                <label class="btn btn-secondary active">
                    {% if app.user.site.id==site.id %}
                        <input type="radio" name="site" value="{{ site.id }}" id="{{ site.id }}"
                               checked >{{ site.name }}
                    {% else %}
                        <input type="radio" name="site" value="{{ site.id }}" id="{{ site.id }}" >{{ site.name }}
                    {% endif %}
                </label>

            {% endfor %}
        </div>


        <!--Séléction des options de filtres-->
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <div class="custom-control custom-checkbox ">
                        <input type="checkbox" name="organizer" value="1" class="custom-control-input"
                               id="defaultInline1" >
                        <label class="custom-control-label" for="defaultInline1">Sorties dont je suis
                            l'organisat·eur·rice</label>
                    </div>

                    <div class="custom-control custom-checkbox ">
                        <input type="checkbox" name="registered" value="2" class="custom-control-input"
                               id="defaultInline2">
                        <label class="custom-control-label" for="defaultInline2">Sorties auxquelles je suis
                            inscrit·e</label>
                    </div>

                    <div class="custom-control custom-checkbox ">
                        <input type="checkbox" name="unregistered" value="3" class="custom-control-input"
                               id="defaultInline3">
                        <label class="custom-control-label" for="defaultInline3">Sorties auxquelles je ne suis pas
                            inscrit·e</label>
                    </div>

                    <div class="custom-control custom-checkbox ">
                        <input type="checkbox" name="finished" value="4" class="custom-control-input"
                               id="defaultInline4">
                        <label class="custom-control-label" for="defaultInline4">Sorties passées</label>
                    </div>
                </div>


                <!--Séléction des dates-->
                <!--Grid column-->
                <div class="col-md-7 mb-4">
                    <div class="md-form">
                        <!--The "from" Date Picker -->
{#                        <div class="col-md-8">#}
                        <label for="startingDate">Afficher les dates de début de sortie avant</label>
                            <input class="form-control" name="dateStart" value="1" type="date"
                                   placeholder="Afficher les dates de début de sortie avant"
                                   id="startingDate">
{#                        </div>#}
                    </div>
                    <div class="md-form">
                        <!--The "to" Date Picker -->
                        <label for="startingDate">Afficher les dates de d'inscription avant</label>
                        <input class="form-control datepicker" name="dateDeadline" value="1"
                               placeholder="Afficher les dates de d'inscription avant" type="date" id="endingDate">
                    </div>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
    </form>

    <!--Barre de recherche-->
    <input class="form-control " id="listSearch" type="text" placeholder="Le nom de la sortie contient">
    <ul class="list-group" id="myList">
        {% include 'includes/eventslist.html.twig' %}
    </ul>

{% endblock %}


{% block JS %}
    <script>
        /*AJAX pour filtrer par site*/
        $(".formperso input").on("click", filterAjax);

        //casser et ajouter les differents champs actionnant la methode filtre

        function filterAjax(e) {
            $.ajax({
                "url": "{{ path('display_events_by_form_parameters') }}",
                "data": $(".formperso").serialize(),
                "method": "get"
            })
                .done(function (response) {
                    console.log(response);
                    $("#listevents").html(response);
                })
        }

        //Grise les boutons pour empécher de faire une recherche en étant inscrit et non-inscrit en même temps
        $(function () {
            $('#defaultInline2').on('click',function () {
                if($("input[name='registered']:checked").val()){
                    $('#defaultInline3').prop('disabled', true);
                } else
                {
                    $('#defaultInline3').prop('disabled', false);
                }
            });
        });

        $(function () {
            $('#defaultInline3').on('click',function () {
                if($("input[name='unregistered']:checked").val()){
                    $('#defaultInline2').prop('disabled', true);
                } else
                {
                    $('#defaultInline2').prop('disabled', false);
                }
            });
        });

        /*AJAX pour la barre de recherche*/
        $(document).ready(function () {
            $("#listSearch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myList a").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

    </script>
{% endblock %}