{% extends 'layout.html.twig' %}

{% block name %}Détail de la sortie {% endblock %}

{% block body %}


    <h1>
        {{ eventDetail.name }}
        {% if eventDetail.status.libel == 'opened' %}
            <span class="badge badge-primary">à venir</span>
        {% elseif eventDetail.status.libel == 'ongoing' %}
            <span class="badge badge-success">en cours</span>
        {% endif %}
    </h1>


    <div class="row">

        <div class="col-12 col-lg-4"><br>

            <h2> Détails</h2>

            <p>Organisateur:<a href="url">{{ eventDetail.organizer.name | capitalize }}</a>,
                inscrit sur le site de l'ENI de {{ eventDetail.site.name }}</p>

            {% if eventDetail.infos %}
                <p>Infos supplémentaires : {{ eventDetail.infos }}</p>
            {% endif %}

            <p>Date et heure de la sortie : le {{ eventDetail.startingDateTime|date('d-m-Y') }}
                à {{ eventDetail.startingDateTime|date(' H:i') }}
            </p>
            <p>Durée estimée de l'événement : {{ eventDetail.duration }} heures</p>

        </div>

        <div class="col-12 col-lg-4"><br>

            <h2> Inscription</h2>

            <p>Date limite d'inscription : {{ eventDetail.inscriptionDeadLine|date('d-m-Y') }}</p>

            {% set nbPlacesRestantes = eventDetail.nbMaxRegistration - eventDetail.registeredMembers | length %}

            {% if  nbPlacesRestantes > 0 %}
                <p>Nombre de places restantes : <span
                            class="badge badge-pill badge-primary"><strong>{{ nbPlacesRestantes }}</strong></span></p>
            {% else %}
                <span class="badge badge-pill badge-danger">Complet</span>
            {% endif %}

            {% if eventDetail.registeredMembers | length > 0 %}
                {% include 'includes/eventRegisteredMembers.html.twig' %}
            {% else %}
                Aucun participant à cette sortie
            {% endif %}
        </div>

        <div class="col-12 col-lg-4"><br>
            <h2>Adresse</h2>
            <p>Lieu de rendez-vous : {{ eventDetail.location.name }}</p>
            <p>Ville : {{ eventDetail.location.city.name }}</p>
            <p>Rue : {{ eventDetail.location.street }}</p>
            <p>Code postal : {{ eventDetail.location.city.zipCode }}</p>
        </div>
    </div>

    {% if userCanRegisterToEvent %}
        {% include 'includes/actions/register_to_event.html.twig' %}
    {% endif %}

    {% if userCanWithdrawEvent %}
        {% include 'includes/actions/withdraw_from_event.html.twig' %}
    {% endif %}

    {% if userCanCancelEvent %}
        {% include 'includes/actions/cancel_event.html.twig' %}
    {% endif %}

    {% if userCanModifyEvent %}
        {% include 'includes/actions/modify_event.html.twig' %}
    {% endif %}

    {% if userCanPublishEvent %}
        {% include 'includes/actions/publish_event.html.twig' %}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        {% include 'admin/cancel_event.html.twig' %}
    {% endif %}


    {% include 'includes/actions/return_to_home.html.twig' %}
    {#    {% include 'includes/actions/return_to_path.html.twig' with { my_path: 'my_events' } only %}#}


{% endblock body %}