{% extends 'layout.html.twig' %}

{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <h1>Nouveau membre</h1>

    <div class="col-4 mx-auto">

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.name) }}
    {{ form_row(registrationForm.surname) }}
    {{ form_row(registrationForm.mail) }}

    <button class="btn btn-primary">Inscrire un nouveau membre</button>

    <a href="{{ path('home') }}" class="btn btn-secondary " role="button" aria-disabled="true">
        Retour
    </a>

    {{ form_end(registrationForm) }}
    </div>

{% endblock %}
