{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.surname) }}
    {{ form_row(registrationForm.name) }}
    {{ form_row(registrationForm.mail) }}

    <button class="btn">Register new member</button>
    {{ form_end(registrationForm) }}
{% endblock %}
