{% extends 'layout.html.twig' %}


{% form_theme eventFormView 'bootstrap_4_layout.html.twig' %}

{% block title %}Creer{% endblock title %}

{% block body %}


    <div class="col-4 mx-auto"><br>
        <h1>Proposer un nouvel événement</h1>
        {{ form_start(eventFormView) }}

        {{ form_row(eventFormView.startingDateTime) }}

        <div class="row">
            <div class="col">
                {{ form_row(eventFormView.duration) }}
            </div>
            <div class="col">
                {{ form_row(eventFormView.duration_unit) }}
            </div>


        </div>


        {{ form_row(eventFormView.inscriptionDeadLine) }}
        {{ form_row(eventFormView.name) }}
        {{ form_row(eventFormView.nbMaxRegistration) }}
        {{ form_row(eventFormView.infos) }}

        {{ form_row(eventFormView.location.name) }}
        {{ form_row(eventFormView.location.street) }}
        {{ form_row(eventFormView.location.city.name) }}
        {{ form_row(eventFormView.location.city.zipCode) }}


        {{ form_row(eventFormView.save) }}


        {{ form_end(eventFormView) }}
    </div>

{% endblock %}