{% extends 'layout.html.twig' %}


{% form_theme eventFormView 'bootstrap_4_layout.html.twig' %}

{% block title %}Creer{% endblock title %}

{% block body %}

    <div class="col-4 mx-auto"><br>

        <h1>Proposer un nouvel événement</h1>
        {{ form_start(eventFormView) }}

        {{ form_row(eventFormView.name) }}
        {{ form_row(eventFormView.infos) }}

        <h2>Date et durée de l'événement</h2>

        <div class="row">
            <div class="col">
                {{ form_row(eventFormView.startingDate) }}
            </div>
            <div class="col">
                {{ form_row(eventFormView.startingTime) }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(eventFormView.duration) }}
            </div>
            <div class="col">
                {{ form_row(eventFormView.duration_unit) }}
            </div>
        </div>

        <h2>Gestion des inscriptions</h2>

        <div class="row">

            <div class="col">

                {{ form_label(eventFormView.deadLineDate) }}
                {{ form_widget(eventFormView.deadLineDate) }}
            </div>
            <div class="col">
                {{ form_row(eventFormView.deadLineTime) }}
            </div>
        </div>

        {{ form_row(eventFormView.nbMaxRegistration) }}

        <h2>Lieu</h2>

        {{ form_row(eventFormView.location.name) }}
        {#        Cette liste stocke la liste temporaire de match entre l'input de l'user et la bbd#}
        <ul id="list-match" class="list-group" style="position: absolute; list-style: none;"></ul>
        {{ form_row(eventFormView.location.street) }}
        {{ form_row(eventFormView.location.city) }}

        {{ form_row(eventFormView.save) }}
        {{ form_end(eventFormView) }}
    </div>

    {% block JS %}

        {#    Autocomplete location #}
        <script>
            $("#event_location_name").on('input', function () {

                //Empty the list
                $('#list-match').empty();
                let inputText = $("#event_location_name").val();
                console.log(inputText);

                $.ajax({
                    url: "http://localhost/sortir/public/api/getlocations/like/" + inputText,
                    success: function (result) {
                        console.log(result);
                        //build list of matching location:
                        result.forEach(el => $('#list-match').append(
                            '<li class=list-group-item id=' + el.id + '>' +
                            '<p name = name>' + '<strong>' + el.name + '</strong>' + '</p>' +
                            '<p name = street>' + el.street + '</p> ' +
                            '<p> <span name = city>' + el.city + '</span> <span name=zipCode>' + el.zipCode + '</span></p> ' +
                            '</li>'
                        ));
                    }
                });
            });

            //Quand on clique sur un element de la liste, il remplit automatiquement les champs de Location
            $("#list-match").on('click', 'li', function () {

                // $(this).
                // console.log($(this).find("p[name=name]").text());
                // console.log($(this).find("span[name=zipCode]").text());
                // console.log($(this).find("p[name=street]").text());
                // console.log($(this).find("span[name=city]").text());

                let place = $(this).find("p[name=name]").text();
                let street = $(this).find("p[name=street]").text();
                let city = $(this).find("span[name=city]").text();
                let zipCode = $(this).find("span[name=zipCode]").text();

                $('#list-match').empty();

                //Affecter les valeurs aux widgets:

                $('#event_location_name').val(place);
                $('#event_location_city_name').val(city);
                $('#event_location_street').val(street);
                $('#event_location_city_zipCode').val(zipCode);

            });

        </script>


    {% endblock JS %}

{% endblock %}