{% extends 'layout.html.twig' %}

   {% block title %}
       Admin manager
   {% endblock %}



{% block body %}


<h1>Tableau de bord administrateur [{{ app.user.name }}]</h1>


<a href="{{ path('app_register') }}" class="btn btn-primary"
   role="button">
    Ajouter un nouveau membre
</a>

<table class="table table-striped members">
    <thead>
    <tr>
        <th colspan="3" align="justify"><h2>Liste des membres</h2></th>
    </tr>
    </thead>
    <thead>
    <tr>
        <th colspan="1" align="justify">Nom</th>
        <th colspan="1" align="justify">Prénom</th>
        <th colspan="1" align="justify">Pseudo</th>
        <th colspan="1" align="justify">Status</th>
        <th colspan="1" align="justify">Nombre de connexions</th>
        <th colspan="1" align="justify">Date dernière connexion</th>
        <th colspan="1" align="justify">Dernière connexion</th>
        <th colspan="1" align="justify">Actions</th>
    </tr>
    </thead>

    <tbody>

    {% for member in members %}

        {% if member != app.user %}
            <tr id="row{{ member.id }}">
                <td>{{ member.surname | capitalize }}</td>
                <td>{{ member.name | capitalize }}</td>
                <td>{{ member.pseudo | capitalize }}</td>

                {% if member.active %}
                    <td><span class="badge badge-success" id="status{{ member.id }}">actif</span></td>
                {% else %}
                    <td><span class="badge badge-secondary" id="status{{ member.id }}">inactif</span></td>
                {% endif %}

                {% if member.nbConnection is not null %}
                    <td>{{ member.nbConnection }}</td>
                {% else %}
                    <td>0</td>
                {% endif %}

                {% if member.lastConnectionDateTime is not null %}

                    {% set intervalLastConnexion = member.lastConnectionDateTime.diff( date() ) %}
                    {% set days = intervalLastConnexion.days %}
                    {% set years = intervalLastConnexion.y %}
                    {% set hours = intervalLastConnexion.h %}
                    {% set minutes = intervalLastConnexion.i %}
                    {% set secondes = intervalLastConnexion.s %}

                    <td>
                        {{ member.lastConnectionDateTime | date('H:i:s d/m/Y') }}
                    </td>

                    <td>
                        {% if years != 0 %}
                            {{ years }} année(s)
                        {% else %}

                            {% if days != 0 %}
                                {{ days }} jour(s)
                            {% endif %}
                            {% if hours != 0 %}
                                {{ hours }} heure(s)
                            {% endif %}
                            {% if minutes != 0 %}
                                {{ minutes }} minute(s)
                            {% endif %}
                            {% if secondes != 0 %}
                                {{ secondes }} seconde(s)
                            {% endif %}

                        {% endif %}
                    </td>

                    </td>
                {% else %}
                    <td>inconnue</td>
                    <td>inconnue</td>
                {% endif %}

                <td>
                    <a href="{{ path('display_profile_member', {'id': member.id}) }}" class="btn btn-secondary"
                       role="button">
                        Accéder au profil
                    </a>
                </td>

                {# Actions#}
                {% if member.active %}
                    <td>
                        <button type="button" class="btn btn-primary activer-desactiver" id="{{ member.id }}">
                            Désactiver
                        </button>
                    </td>
                {% else %}
                    <td>
                        <button type="button" class="btn btn-primary activer-desactiver" id="{{ member.id }}">Activer
                        </button>
                    </td>
                {% endif %}
                <td>
                    <button type="button" class="btn btn-danger supprimer" id="suppr{{ member.id }}">Supprimer le
                        compte
                    </button>
                </td>


            </tr>
        {% endif %}

    {% endfor %}

    {% endblock body %}

    {% block JS %}

        <script>
            $(".activer-desactiver").on('click', function () {
                let id = $(this).attr('id');
                $.ajax({
                    url: "http://localhost/sortir/public/admin/api/activate_desactivate_user/" + id,
                    success: function (result) {

                        console.log(result)
                        $('#' + id).text(result[0]);

                        if (result[0] === 'Activer') {
                            $('#status' + id).attr('class', 'badge badge-secondary');
                            $('#status' + id).text('inactif');
                        } else {
                            $('#status' + id).attr('class', 'badge badge-success');
                            $('#status' + id).text('actif');
                        }

                    }
                })
            });

            $(".supprimer").on('click', function () {
                let id = $(this).attr('id');
                id = id.match(/\d+/g)[0];
                console.log(id);

                if (confirm("Vous êtes sûr de vouloir supprimer le compte?")) {
                    $.ajax({
                        url: "http://localhost/sortir/public/admin/api/delete_user/" + id,
                        success: function (result) {
                            $('#row' + id).empty();

                        }
                    })
                } else {
                    // Code à éxécuter si l'utilisateur clique sur "Annuler"
                }
            });


        </script>

    {% endblock JS %}
