<table id="listevents" class="table table-striped table-hover">
    <thead>
    <tr>

        <th scope="col">Sortie</th>
        <th scope="col">Quand ?</th>

        <th scope="col">Places restantes</th>
        <th scope="col">#</th>
        <th scope="col">Organisateur</th>
        <th scope="col">Lieu</th>
        <th scope="col">Infos</th>


    </tr>
    </thead>
    <tbody id="myTable">
    {% for event in events %}
        {% set nbPlacesRestantes = event.nbMaxRegistration - event.registeredMembers | length %}
            <tr class="table-row"data-href="{{ path('display_one_event',{'id': event.id}) }}" id="myTablerow">
                <div class="view overlay">
                <th scope="row">
                    <h4 class="mb-1">{{ event.name }}</h4>
                </th>
                <td>
                    Débute le {{ event.startingDateTime | date ('d/m/Y') }} et
                    dure {{ event.duration }} heures
                    <h5>
                    {% if event.status.libel == 'opened' %}
                        <span class="badge badge-primary">à venir</span>
                    {% elseif event.status.libel == 'ongoing' %}
                        <span class="badge badge-success">en cours</span>
                    {% elseif event.status.libel == 'finished' %}
                        <span class="badge badge-dark">terminé</span>
                    {% endif %}
                    </h5>
                </td>

                <td>
                    {% if nbPlacesRestantes > 1 %}
                        <div class="text-muted"> {{ nbPlacesRestantes }} places libres</div>
                    {% elseif nbPlacesRestantes == 1 %}
                        <div class="text-muted"> {{ nbPlacesRestantes }} place libre</div>
                    {% else %}
                        <div class="text-muted"> Complet !</div>
                    {% endif %}
                </td>
                <td>
                    {% if event.organizer.picture != null %}
                        <img src="{{ asset('assets/profilepic/' ~ event.organizer.picture.name) }}"
                             class="rounded mx-auto d-block" alt="profile picture" width="50" height="50">
                    {% else %}
                        <img src="{{ asset('assets/img/missingrofilepic.png') }}" class="rounded mx-auto d-block"
                             alt="profile picture" width="50" height="50">
                    {% endif %}
                </td>
                <td>
                <div class="mb-1">{{ event.organizer.pseudo }}</div>
                </td>
                <td>
                <p class="mb-1">{{ event.location.name }}</p>
                </td>
                <td>
                <small class="text-muted">{{ event.infos }}</small>
                </td>
                </div>
            </tr>
    {% endfor %}
    </tbody>
</table>

