<div id="listevents">
{% for event in events %}
        <a href="{{ path('display_one_event', {'id': event.id}) }}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ event.name }}</h5>

                <small class="text-muted"> Commence le {{ event.startingDateTime | date ('d/m/Y')}} et
                    dure {{ event.duration }} heures</small>
            </div>
            <p class="mb-1">{{ event.location.name }}</p>
            <small class="text-muted">{{ event.infos }}</small>
        </a>
{% endfor %}
</div>