<div id="listevents">

    {% for event in events %}
        {% set nbPlacesRestantes = event.nbMaxRegistration - event.registeredMembers | length %}

        <a href="{{ path('display_one_event', {'id': event.id}) }}" class="list-group-item list-group-item-action">

            <div class="row">

                <div class="col">
                <h3 >{{ event.name }}</h3>
                </div>

                <div class="col">
                    Commence le {{ event.startingDateTime | date ('d/m/Y') }} et
                    dure {{ event.duration }} heures

                </div>

                <div class="col">
                    {% if event.status.libel == 'opened'  %}
                        <span class="badge badge-primary">à venir</span>
                        {% elseif event.status.libel == 'ongoing'  %}
                            <span class="badge badge-success">en cours</span>
                    {% endif %}
                </div>


                <div class="col">
                    {% if nbPlacesRestantes > 1 %}
                        <div class="text-muted"> {{ nbPlacesRestantes }} places libres</div>
                    {% elseif nbPlacesRestantes == 1 %}
                        <div class="text-muted"> {{ nbPlacesRestantes }} place libre</div>
                    {% else %}
                        <div class="text-muted"> Complet !</div>
                    {% endif %}
                </div>


            </div>
            <div class="mb-1">organisé par {{ event.organizer.pseudo }}</div>
            <p class="mb-1">lieu : {{ event.location.name }}</p>
            <small class="text-muted">{{ event.infos }}</small>
        </a>
    {% endfor %}
</div>