<nav class="navbar navbar-expand-md navbar-expand-lg navbar-custom">

    <a class="navbar-brand .d-none .d-sm-block" href="{{ url('display_events') }}">
        <img src="{{ asset('assets/img/Favicon.png') }}" width="100" height="100" alt="">
    </a>
    <div class="navbar-text">
        <a class="navbar-brand" href="{{ url('display_events') }}"> Sortir.com </a><br>
        <p>Sortez avec vos collègues de l'ENI</p>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

            {% if is_granted('ROLE_ADMIN') %}
            <li>
                <p class="navbar-btn">
                    <a class="nav-link" href="{{ path('app_register') }}">Inscrire un nouveau membre</a>
                </p>
            </li>
                <li>
                    <p class="navbar-btn">
                        <a class="nav-link" href="{{ path('app_manage_users') }}">Gestion des membres</a>
                    </p>
                </li>
            {% endif %}

            <li class="nav-item active">
                <a class="nav-link" href="{{ url('display_events') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>

            {% if app.user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Événements
                    </a>
                    {# A modifier menu déroulant#}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                        <a class="dropdown-item" href="{{ path('create') }}">Créer un événement</a>
                        <a class="dropdown-item" href="{{ path('my_events') }}">Gérer mes événements</a>
                        <a class="dropdown-item" href="{{ path('display_events') }}">Afficher les événements publiés</a>

                    </div>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('display_profile_member', {'id': app.user.id}) }}">{{ app.user.name }}<span
                                class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter<span
                                class="sr-only">(current)</span></a>
                </li>

            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_login') }}">Se connecter<span
                                class="sr-only">(current)</span></a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('contact') }}">contact<span class="sr-only">(current)</span></a>
            </li>

        </ul>
    </div>
</nav>