<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TITRE PAR DEFAUT {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
    <link rel="icon"
          href="{{ asset('assets/img/Favicon.png')}}">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-expand-md navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url('home') }}">
        <img src="{{ asset('assets/img/Favicon.png')}}" width="100" height="100" alt="">
    </a>>
    <a class="navbar-brand" href="{{ url('home') }}"> Sortir</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url('home') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                {# A modifier menu déroulant#}
{#                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('categorie',{'idCategorie':'1'}) }}">Dessins</a>
                    <a class="dropdown-item" href="{{ path('categorie',{'idCategorie':'2'}) }}">Chez vous</a>
                    <a class="dropdown-item" href="{{ path('categorie',{'idCategorie':'3'}) }}">Expositions</a>
                    <a class="dropdown-item" href="{{ path('categorie',{'idCategorie':'4'}) }}">Presse</a>
                    <a class="dropdown-item" href="{{ path('categorie',{'idCategorie':'5'}) }}">Décor Mural</a>
                    <a class="dropdown-item" href="{{ path('categorie',{'idCategorie':'6'}) }}">Vases</a>
                    <a class="dropdown-item" href="{{ path('categorie',{'idCategorie':'7'}) }}">Gravures</a>
                    <a class="dropdown-item" href="{{ path('categorie',{'idCategorie':'8'}) }}">Autres</a>
                </div>#}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('home') }}">login<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('home') }}">contact<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>

</nav>
{% block body %}bodyguard{% endblock %}
{# A modifier footer#}
<footer>
    <div class="container">
        <div class="row">
 ✉ <a href="mailto:agathearari@gmail.com?
    subject=Demande de renseignement"> BDE@campus-eni.fr </a>  pour plus d'infos !<br>

        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>